---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../posts/*.md');
    const uniqueGenres = [...new Set(allPosts.map((post) => post.frontmatter.genres).flat())];

    return uniqueGenres.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.frontmatter.genres.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---
<BaseLayout pageTitle={tag}>
    <p>{tag}のタグが付いたシリーズ</p>
    <ul class="list">
        {posts.map((post) => 
            <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>

<style>
	.list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		list-style: none;
	}
</style>
