---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = 'トップホームページ';
const allPosts = await Astro.glob('../pages/posts/*.md');

let works = []
// 全てのpostを取得
for (let i = 0; i < allPosts.length; i++) {

	// 全Postの中から全作品を再取得
	for (let j = 0; j < allPosts[i].frontmatter.details.length; j++) {

		// 配列内にpostのURLを追加
		allPosts[i].frontmatter.details[j].url = (allPosts[i].url);

		allPosts[i].frontmatter.details[j].id = j;

		// 全シリーズの全作品を並列化
		works.push(allPosts[i].frontmatter.details[j]);
	}
}

// 全作品を日付順でソート化
const sortedList = works.sort((a, b) => b.year - a.year);
---

<BaseLayout pageTitle={pageTitle}>
	<p>最新日時順</p>
	<ul>
		{sortedList.map((post) => 	
			<BlogPost url={post.url + `#section-${post.id}`} title={post.title} />
		)}
	</ul>
</BaseLayout>