---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "トップホームページ";
const allPosts = await Astro.glob("../pages/posts/*.md");

---

<BaseLayout pageTitle={pageTitle}>
	<p>一覧</p>
	<ul class="list">
		{
			allPosts.map((post) => 
				<BlogPost url={post.url} title={post.frontmatter.title} />
			)
		}
	</ul>
</BaseLayout>

<style>
	.list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		list-style: none;
	}
</style>
