---
const { title, url } = Astro.props;
const pathname = url.split("/").slice(-1)[0]
---
<li>
    <a href={url}>
        <div class="img-wrapper">
            <img src={`/assets/images/${pathname}.jpg`} alt={title}>
        </div>
        <span class="title">{title}</span>
    </a>
</li>

<style>
	.img-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1.4;
        overflow: hidden;
    }
</style>